{% extends "base.html.twig" %}
{% block title %} A-CRM | Contacts{% endblock %}
{% block body %}
    <!-- Begin Page Content -->
    <div class="container-fluid">


        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Contacts</h1>

        <!-- Contacts Table-->
        <div class="card shadow mb-4">

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-dark table-hover " id="dataTable"  >
                        <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Date de création</th>

                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Date de création</th>

                        </tr>
                        </tfoot>
                        <tbody>
                        {% for contact in contacts %}
                            <tr>
                                <td>{{ contact.id }}</td>
                                <td>{{ contact.lastname | capitalize }}</td>
                                <td>{{ contact.firstname | capitalize}}</td>
                                <td>{{ contact.email }}</td>
                                <td>{{ contact.phonenumber }}</td>
                                <td>{{ contact.createdAt | date('d/m/Y')  }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


{#                     display navigation #}
                    <div class="navigation d-flex justify-content-center dark">
                        {{ knp_pagination_render(contacts) }}
                    </div>

{#                    {% else %}#}
{#                        <h4> Il n' y a pas de contacts </h4>#}
{#                    {% endif %}#}
                </div>
            </div>
        </div>

    </div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
        </div>
    </div>

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
{% endblock %}

{% block javascript%}

{% endblock %}
